<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/svg+xml" href="/static/fire.svg">
    <script src="/static/ventilator.js"></script>
    <title>Ventilator</title>
  </head>
  <body>
    <header>
      <h1>Ventilator</h1>
      <img src="/static/fire.svg" />
    </header>
    
    <main>

      <table id="state">
	<tr><th>Ventilator</th><th>Temperature</th></tr>	
	<tr><td id="state-ventilator">---</td><td id="state-temperature">---</td></tr>
	<tr><th>Time</th><th>Set Point</th></tr>
	<tr><td id="state-time">---</td><td id="state-set-point">---</td></tr>
      </table>

      <!--      
      <h2>Current Temperature</h2>
      
      <table id="current-temperature-table">
	<tr><th>Temperature</th><td id="current-temperature">---</td></tr>
	<tr><th>Raw</th><td id="current-raw">---</td></tr>
	<tr><th>Voltage</th><td id="current-voltage">---</td></tr>
	<tr><th>Percentage</th><td id="current-percentage">---</td></tr>
      </table>
      -->
      <nav>
	<a href="/configure">Configure &gt;&gt;&gt;</a>
      </nav>

    </main>

    <footer>
      This is a <a href="http://seqzap.com">SeqZap</a> demo project by CIM Software Testing (<a href="http://github.com/seqzap/demo-ventilator-web/">demo source</a>).
    </footer>
  </body>

</html>
