{% extends "base.html" %}

{% block content %}
      <table id="state">
	<tr><th>Ventilator</th><th>Temperature</th></tr>	
	<tr><td id="state-ventilator">---</td><td id="state-temperature">---</td></tr>
	<tr><th>Time</th><th>Set Point</th></tr>
	<tr><td id="state-time">---</td><td id="state-set-point">---</td></tr>
      </table>

      <!--      
      <h2>Current Temperature</h2>
      
      <table id="current-temperature-table">
	<tr><th>Temperature</th><td id="current-temperature">---</td></tr>
	<tr><th>Raw</th><td id="current-raw">---</td></tr>
	<tr><th>Voltage</th><td id="current-voltage">---</td></tr>
	<tr><th>Percentage</th><td id="current-percentage">---</td></tr>
      </table>
      -->
      <nav>
	<a href="/configure">Configure Set Points &gt;&gt;&gt;</a>
      </nav>
{% endblock %}

